__pycache__
.vscode
data
.env
*log*
*.csv
*.safetensors
*.json
*.pth
*.pt
*.bin
config.yaml
*.wandb
wandb/
checkpoint*/
umls_full/
umls-level-0/
*.zip
*.cnf
*.tar
*.tar.gz
*.faiss
*.pkl
*.npy
*.jsonl
*.parquet
*.lock
*.pyc
*.pyo
*.txt
*.pdf
*.png
*.jpg
*.jpeg
